.place-card {
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: 20px auto;
  margin-left: 300px;
  margin-top: -360px;
}

.input-fields {
  display: grid;
  gap: 15px;
}

.input-title {
  margin: 0;
  font-weight: bold;
}

.name-inputs {
  display: flex;
  gap: 10px;
}

.text-input {
  height: 30px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(196, 196, 196);
  padding: 5px;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.submit-button {
  width: 100%;
  background: rgb(74, 58, 255);
  border: 1px solid rgb(74, 58, 255);
  color: white;
  border-radius: 5px;
  height: 40px;
  cursor: pointer;
  transition: background 0.3s;
}

.submit-button:hover {
  background: rgb(54, 38, 204);
}
